# MIDSEM EXAM

## 3. LOAD

In [ ]:
import pandas as pd

# Loading the datasets
raw_df = pd.read_csv("data/raw_data.csv")
inc_df = pd.read_csv("data/incremental_data.csv")

# Loading both transformed files into SQLite
import sqlite3

conn = sqlite3.connect('loaded/full_data.db')
raw_df.to_sql('raw_data', conn, if_exists='replace', index=False)

conn = sqlite3.connect('loaded/incremental_data.db')
inc_df.to_sql('incremental_data', conn, if_exists='replace', index=False)

# Preview stored data from full_data.db
conn = sqlite3.connect('loaded/full_data.db')
pd.read_sql("SELECT * FROM raw_data LIMIT 5", conn)

   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08   None
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South